:root{
    --color-dark: #0f0f0f;
    --color-dark-grey: #353535;
    --color-grey: #606060;
    --color-white: #e5e5e5;
    --site-width: 500px;
}
*{
    font-size: 20px;
    padding: 0;
    border-width: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
}
body{
    background-color: var(--color-grey)
}
form{
    width: 100%;
    background-color: var(--color-dark);
    color: var(--color-white);
    padding: 1rem;
    overflow: auto;
}
input{
    border-radius: .2rem;
    padding: .2rem;
    display: block;
    width: 100%;
    margin-bottom: 1rem;
}
table{
    border-collapse: collapse;
    background-color: var(--color-dark);
    color: var(--color-white);
}
caption{
    color: var(--color-dark);
}
td, th{
    border-style: solid;
    border-width: 2px;
    border-color: rgb(5, 22, 37);
    padding: .2rem;
}
tbody tr:nth-child(odd){
    background-color: var(--color-dark-grey);
}
tbody tr:hover{
    background-color: var(--color-grey);
}
.site-width{
    width: var(--site-width);
    margin: auto;
    margin-top: 1rem;
}
#popup{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(100, 100, 100, 0.7);
    padding-top: 4rem;
    display: none;
}
#popup .popup-content{
    margin: auto;
    background-color: var(--color-dark);
}
#popup #btnClose {
    float: right;
    color: var(--color-white);
    padding: 1rem;
    cursor: pointer;
}